<div class="page-container">
    <div class="main">

        <!-- <div class="navigation">
            <button mat-raised-button
                (click)="onVenues()">venues</button>
            <button mat-raised-button
                (click)="onItems()">items</button>

        </div>

        <div class="header">
            <div class="venue-name">venue: {{(venue$|async)?.name}}</div>

            <div class="current-section">current section: languages</div>
            <span></span>
        </div> -->
        <div class="loading-languages"
            *ngIf="isLoadingData">
            <mat-spinner></mat-spinner>
            <div class="loading">Loading languages</div>
        </div>
        <div class="items-by-language"
            *ngIf="!isLoadingData">
            <div class="items-by-language-list"
                *ngFor="let itemByLanguage of item?.itemsByLanguage">
                <div class="item-by-language">
                    <div class="language">{{itemByLanguage.language}}</div>
                    <div *ngIf="itemByLanguage.itemLS.name"
                        class="name">{{itemByLanguage.itemLS.name}}</div>
                    <div *ngIf="itemByLanguage.itemLS.description"
                        [matTooltip]="itemByLanguage.itemLS.description"
                        matTooltipClass="my-custom-tooltip"
                        class="description">{{itemByLanguage.itemLS.description}}</div>
                    <div *ngIf="!itemByLanguage.itemLS.description"
                        class="description-placeholder">description placeholder</div>
                    <div class="buttons">
                        <audio *ngIf="itemByLanguage.itemLS.audioUrl"
                            [ngClass]="{'audio-selected': itemByLanguage.itemLS.audioAutoplay}"
                            [src]="itemByLanguage.itemLS.audioUrl"
                            controls></audio>
                        <button mat-mini-fab
                            color="warn"
                            (click)="onDelete(itemByLanguage.language)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab
                            color="primary"
                            (click)="onEdit(itemByLanguage)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noItemsByLanguage>no langages</ng-template>
        <button mat-raised-button
            color="primary"
            (click)="onAddLanguage()">add language
        </button>
    </div>
</div>
