.page-container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    // border: 2px solid pink;4,647929873554467
    height: 100%;
    padding: 0.4rem 1rem;
    align-content: center;
    .flag {
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        mat-icon {
            // border: 1px solid lightblue;
        }
    }
    .on-scanner {
        // border: 3px solid red;
    }
}

.language-selected {
    background-color: white;
}
.display-none {
    display: none;
}
