.page-container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    // border: 2px solid pink;4,647929873554467
    height: 100%;
    padding: 0.4rem 1rem;
    align-content: center;

    .flag {
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        mat-icon {
            border: 1px solid lightblue;
            font-size: 2rem;
        }
        img {
            width: 2.5rem;
        }
    }

    .on-scanner {
        // border: 3px solid red;
    }
}

.language-selected {
    background-color: white;
}
.display-none {
    display: none;
}
// ***************************

/* The side navigation menu */

.sidenav {
    color: #ccc;
    // height: 100%; /* 100% Full-height */
    height: calc(100% - 110px);
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 7rem; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    // padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    @media screen and (min-width: 600px) {
        top: calc(7rem + 8px);
    }
    .languages {
        // border: 1px solid red;
        list-style: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        // gap: 0.3rem;
        .language {
            // background-color: pink;
            text-transform: uppercase;
            font-size: 1.5rem;
            cursor: pointer;
            border: 1px solid#ccc;
            border-radius: 5px;
            padding: 0.1rem 0.5rem 0.3rem 0.5rem;
            margin-bottom: 0.5rem;
        }
        .close-nav {
            padding: 0.5rem;
            // display: flex;
            // justify-content: end;
            width: 100%;
            // border: 1px solid red;
            mat-icon {
                float: right;
                font-size: 2rem;
            }
        }
    }
}

/* The navigation menu links */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 600px) {
//     .sidenav {
//         padding-top: 15px;
//     }
//     .sidenav a {
//         font-size: 18px;
//     }
// }
