<mat-spinner *ngIf="isStoring"></mat-spinner>
<div *ngIf="!isStoring"
    class="page-container">
    <input type="file"
        #fileInput
        (change)="onFileInputChange($event)">
    <button class="delete"
        (click)="onDeleteAudio()"
        mat-raised-button
        color="warn">delete audio</button>
    <audio [src]="sanitizer.bypassSecurityTrustResourceUrl(audioSrc)"
        controls
        type="audio/mp4"></audio>
    <button mat-raised-button
        color="primary"
        (click)="onConfirm()">
        confirm
    </button>
</div>
