<div class="page-container">

    <mat-spinner *ngIf="itemDetailsService.uploadingImage$|async"></mat-spinner>
    <input type="file"
        style="display: none;"
        #fileInput
        (change)="onFileInputChange($event)">
    <div class="content">
        <img *ngIf="imageSrc"
            [src]="imageSrc"
            alt="">
        <button class="delete"
            *ngIf="imageSrc"
            (click)="onDeleteImage()"
            mat-raised-button
            color="warn">delete image</button>
        <button class="add"
            mat-raised-button
            color="primary"
            (click)="fileInput.click()">select image
        </button>
        <button mat-raised-button
            class="confirm"
            *ngIf="imageSrc"
            color="primary"
            (click)="onConfirm()">confirm selection</button>
    </div>
</div>
