.page-container {
    background-color: wheat;
    min-width: 25rem;
    display: flex;
    padding: 1rem;
    mat-spinner {
        margin: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        img {
            width: 100%;
        }

        .delete {
            width: 100%;
        }

        .add {
            width: 100%;
        }
        .confirm {
            width: 100%;
        }
    }
}
