.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem 1rem 3.5rem 1rem;
    min-height: 100%;

    .close {
        display: flex;
        justify-content: end;
        // float: right;
        mat-icon {
            font-size: 2rem;
        }
    }
    .content {
        .content-nl {
        }
        .content-en {
        }
        .content-fr {
        }
    }
    .admin-btn {
    }
}
