<div class="page-container"
    *ngIf="items$|async">
    <main>

        <!-- <div class="navigation_location">
            <div class="navigation">
                <button class="back-to-all-venues"
                    mat-raised-button
                    (click)="onVenues()">venues</button>
            </div>

        </div>
        <div class="header">
            <div class="venue-name">venue: {{(venue$|async)?.name}}</div>
            <div class="current-section">current section: items</div>

        </div> -->

        <div class="items-list">

            <div class="items"
                *ngFor="let item of items$|async">
                <div class="item"
                    [ngClass]="[item.isMainPage ? 'main-page' : '']">

                    <div class="name_id">
                        <div class="name">{{item.name}}</div>
                        <div *ngIf="authService.isAdmin$|async"
                            class="id">{{item.id}}</div>
                        <!-- <div class="id">{{item.id}}</div> -->
                    </div>
                    <div class="img_languages">
                        <button mat-raised-button
                            color="primary"
                            (click)="onRemoteLink(item.id)">
                            <mat-icon>link</mat-icon>
                        </button>
                        <button mat-raised-button
                            color="warn"
                            (click)="onDelete(item.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-raised-button
                            color="primary"
                            (click)="onQrCodeLocal(item.id, item.name)">
                            QRL
                        </button>
                        <button mat-raised-button
                            color="primary"
                            (click)="onQrCode(item.id, item.name)">
                            <mat-icon>qr_code</mat-icon>
                        </button>
                        <button mat-raised-button
                            color="primary"
                            (click)="onEdit(item)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <img [src]="item.imageUrl"
                            alt=""
                            (click)="onImage(item.imageUrl)">
                        <button mat-raised-button
                            (click)="onLanguages(item)">languages
                        </button>
                    </div>
                </div>
            </div>

            <div class="items"
                *ngFor="let item of (venue$|async)?.items"
                [ngClass]="[item.isMainPage ? 'main-page' : '']">


            </div>
            <button class="add-item"
                mat-raised-button
                color="primary"
                (click)="onAddItem()">
                add item
            </button>

        </div>
    </main>
</div>
