<div class="page-container">
    <div class="loading-venues"
        *ngIf="isLoadingVenues">
        <mat-spinner></mat-spinner>
        <div class="loading">Loading venues</div>
    </div>
    <div class="venues">
        <!-- <div class="header">current section: venues</div> -->
        <!-- <mat-spinner *ngIf="!venues$|async"></mat-spinner> -->
        <div class="venue"
            *ngFor="let venue of (venues$|async)">
            <div class="logo_name_id">
                <div class="logo">
                    <img [src]="venue.logoUrl"
                        alt="">
                </div>
                <div class="name_id">
                    <div class="name">{{venue.name}}</div>
                    <div *ngIf="authService.isAdmin$|async"
                        class="id">{{venue.id}}</div>

                </div>
            </div>
            <div class="buttons">
                <button mat-raised-button
                    color="primary"
                    (click)="onStatistics(venue.id)">
                    stats
                </button>
                <button mat-raised-button
                    color="primary"
                    (click)="onQrCode(venue.id, venue.name)">
                    <mat-icon>qr_code</mat-icon>
                </button>
                <button class="delete"
                    mat-raised-button
                    color="warn"
                    (click)="onDelete(venue.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button
                    color="primary"
                    class="edit"
                    (click)="onEditVenue(venue.id, venue.name)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="delete"
                    mat-raised-button
                    (click)="onItems(venue)"
                    matTooltip="Add items to this venue">items
                </button>
            </div>
        </div>
        <button class="add-venue"
            mat-raised-button
            (click)="onAddVenue()"
            color="primary">add venue</button>
    </div>
