.page-container {
    padding: 3rem;
    display: grid;
    justify-items: center;
    background-color: #cccc;
    height: 100%;
    // grid-template-columns: 1fr;
    // gap: 1rem;
    .venues {
        max-width: 70rem;
        min-width: 30rem;
        // border: 3px solid black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .header {
            text-transform: uppercase;
            font-weight: bold;
            background-color: white;
            padding: 0.3rem 1rem;
        }
        .venue {
            background-color: wheat;
            padding: 0.3rem 1rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            .logo_name_id {
                align-items: center;
                display: flex;
                gap: 1rem;
                .logo {
                    width: 2.5rem;
                    img {
                        width: 100%;
                    }
                }
                .name_id {
                    // border: 1px solid red;
                    display: flex;
                    justify-content: space-evenly;

                    gap: 1rem;
                    .name {
                        // border: 1px solid red;
                        text-transform: uppercase;
                    }
                }
            }
            .buttons {
                display: flex;
                gap: 1rem;
            }
        }
    }
}
