<div class="page-container">
    <!-- <div class="display-area-container">
        <div class="display-area"> -->
    <!-- <div class="qr-code-remote"> -->
    <!-- {{venueId}} -- {{itemId}} -->
    <div class="local">
        <div class="local-text">
            <a [href]="'http://localhost:4200/item?venueId=' + venueId + '&itemId=' + itemId">local</a>

        </div>
        <ngx-qrcode-styling #qrcode
            [type]="'canvas'"
            [shape]="'square'"
            [width]="100"
            [height]="100"
            [margin]="5"
            [data]="'http://localhost:4200/item?venueId=' + venueId + '&itemId=' + itemId"
            image="./../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png">
        </ngx-qrcode-styling>
    </div>
    <!-- </div>
        </div> -->
    <!-- <div class="display-area-container">
            <div class="display-area"> -->


    <button mat-raised-button
        matTooltip="This link will direct you to the item but will use the default language. In order to see the item in the langauge you are working on, you will have to select this language from the language menu in the left bottom of the footer"
        color="primary"
        class="direct-link-button">
        <a [href]="'https://mochuco-offline-b06e7.web.app/item?venueId=' + venueId + '&itemId=' + itemId">direct link</a>
        <mat-icon>info</mat-icon>
    </button>
    <ngx-qrcode-styling #qrcode
        [type]="'canvas'"
        [shape]="'square'"
        [width]="200"
        [height]="200"
        [margin]="5"
        [data]="'https://mochuco-offline-b06e7.web.app/item?venueId=' +
                venueId +
                '&itemId=' +
                itemId"
        image="./../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png">
    </ngx-qrcode-styling>
    <div class="download-button">
        <button mat-raised-button
            color="primary"
            (click)="onDownloadQr()">download qr</button>
    </div>
</div>

<!-- </div> -->

<!-- </div>
    </div> -->
