<div id="mainPageSidenav"
    class="sidenav">
    <div class="main-page-container">
        <div class="name">
            {{mainPageByLanguage?.itemLS.name}}
        </div>
        <div class="description">
            {{mainPageByLanguage?.itemLS.description}}
        </div>
        <ul class="itemids-and-distances">
            <li *ngFor="let item of itemIdsAndDistances"
                (click)="onItem(item.id)">
                <div class="info_name">
                    <span class="name">{{item.name}}</span>
                </div>
                <div class="distance">{{item.distance}}&nbsp;m</div>
            </li>
        </ul>
        <div class="close"
            (click)="onCloseNav()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
</div>

<mat-toolbar color="warn">
    <!-- <div class="logo" (click)="onLogo()"> -->
    <div class="toolbar-content">

        <div (click)="onMochucoLogo()"
            class="logo">
            <a routerLink="mochuco">
                <img src="./../../../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png"
                    alt="">
            </a>
        </div>
        <div class="organization"
            *ngIf="venue && venue.organization">
            {{venue.organization}}
        </div>

        <div class="user"
            *ngIf="afAuth.currentUser">
            <div class="user-name">
                {{(afAuth.currentUser.email).split('@')[0]}}
            </div>
            <div class="is-admin"
                *ngIf="authService.isAdmin$|async">*
            </div>
            <div class="logout"
                (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
            </div>
        </div>
        <div (click)="onVenueLogo()"
            class="venue-logo">
            <img [src]="(generalStore.activeVenue$|async)?.logoUrl"
                alt="">
        </div>

    </div>

</mat-toolbar>


<!-- Chromerun://localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k&browser=safari
localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k&browser=firefox
microsoft-edge:localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k
safari:localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k

safari:https://mochuco-a185b.web.app/?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k -->
