mat-toolbar {
    display: flex;
    justify-content: center;

    .toolbar-content {
        // border: 2px solid pink;
        // padding: 0 1rem;
        // width: 100%;
        // padding: 0 1rem;
        // max-width: 30rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.3.5rem;
        align-items: center;
        // font-size: 1rem;
        .logo {
            // border: 1px solid white;
            width: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 1px solid black;
            a {
                img {
                    width: 100%;
                }
            }
        }
        .organization {
            text-transform: capitalize;
        }
        .venue-logo {
            cursor: pointer;
            // border: 1px solid black;
            width: 2.5rem;
            img {
                width: 100%;
            }
        }
        .main-page-name {
            text-transform: uppercase;
            cursor: pointer;
            // border: 1px solid red;
        }
        .user {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            .user-name {
            }
            .logout {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .isAdmin {
        }
    }
}
.sidenav {
    color: #ccc;
    // height: 100%; /* 100% Full-height */
    height: calc(100% - 56px);
    @media screen and (min-width: 600px) {
        height: calc(100% - 64px);
    }
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */

    // top: 7rem; /* Stay at the top */
    top: 56px;
    @media screen and (min-width: 600px) {
        top: 64px;
    }
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    // padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    .main-page-container {
        padding: 1rem;
        .name {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .description {
            margin-bottom: 1rem;
        }
        .itemids-and-distances {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                border: 1px solid white;
                padding: 0.7rem 0.5rem 0.8rem 0.5rem;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;
            }
        }
        .close {
            display: flex;
            justify-content: end;
        }
    }
}
