<div class="page-container">
    <div class="content"
        *ngIf="!(uiService.isSearchingNearestItem$|async)">
        <div class="filler">

        </div>
        <div class="header">
            <div class="name">{{itemName}}</div>
            <button class="like-button"
                (click)="onLike()"
                mat-raised-button
                [disabled]="isLiked"
                color="primary">{{isLiked ? 'liked': 'like'}}</button>
        </div>
        <div class="img_audio_description">
            <img *ngIf="imageUrl"
                [src]="imageUrl"
                alt="">
            <!-- <div class="app-audio-container">
                <app-audio *ngIf="audioUrl"
                    class="app-audio"
                    [ngClass]="[isAudioPanelOpen ? 'audioPanelOpen': 'audioPanelClosed']"
                    (audioPanelOpen)="audioPanelOpen($event)"></app-audio>
            </div> -->
            <div class="description"
                *ngIf="description"
                [innerHTML]="description">
            </div>
            <audio *ngIf="audioUrl"
                [src]="audioUrl"
                [autoplay]="audioAutoplay"
                controls></audio>
        </div>
        <!-- <div class="audioUrl">{{audioUrl}}</div> -->
    </div>
    <div class="data-info">
        <div *ngIf="uiService.isSearchingNearestItem$|async"
            class="is-searching-nearest">
            <span>Searcing for nearest item</span>
            <mat-spinner color="warn"></mat-spinner>
        </div>

        <div *ngIf="uiService.isFetchingItemData$|async"
            class="is-fetching-data">
            <span>Loading data</span>
            <mat-spinner color="primary"></mat-spinner>
        </div>
    </div>

</div>
