.page-container {
    padding: 1rem 0;
    max-width: 30rem;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .name {
        text-transform: uppercase;
    }
    img {
        width: 100vw;
    }
    .description {
    }
}
