<div class="spinner"
    *ngIf="isStoring">
    <div class="storing-audio">storing audio</div>
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isStoring"
    class="page-container">
    <input type="file"
        style="display: none;"
        #fileInput
        (change)="onFileInputChange($event)">
    <audio *ngIf="audioSrc"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(audioSrc)"
        controls
        type="audio/mp4"></audio>
    <button mat-raised-button
        color="primary"
        (click)="fileInput.click()">{{audioSrc ? 'change selection' : 'select audio'}}</button>
    <button class="delete"
        *ngIf="audioSrc"
        (click)="onDeleteAudio()"
        mat-raised-button
        color="warn">delete audio</button>
    <button mat-raised-button
        *ngIf="audioSrc"
        color="primary"
        (click)="onConfirmSelection()">
        confirm selection
    </button>
</div>
