<div class="module-container">
    <div class="header">
        <div class="venue-name">statistics for venue: {{venue?.name}}</div>
    </div>
    <div class="actions">
        <!-- <mat-form-field appearance="fill"> -->
        <!-- <mat-label>Enter a date range</mat-label> -->
        <div class="date-range-picker">
            <div class="select">select&nbsp;range</div>
            <mat-icon matTooltip="For info on a single day, select the requested date twice.">info</mat-icon>
            <mat-datepicker-toggle matIconSuffix
                [for]="picker">
            </mat-datepicker-toggle>
            <mat-date-range-input [formGroup]="form"
                [rangePicker]="picker">
                <input matStartDate
                    style="visibility: hidden;"
                    formControlName="start"
                    placeholder="Start date"
                    (dateChange)="onDateChangeStart($event)">
                <input matEndDate
                    style="visibility: hidden;"
                    [max]="max"
                    (dateChange)="onDateChangeComplete($event)"
                    formControlName="end"
                    placeholder="End date">
            </mat-date-range-input>

            <mat-date-range-picker #picker></mat-date-range-picker>
        </div>

        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
        <!-- </mat-form-field> -->



        <div class="dates"
            *ngIf="!selectionInProgress">
            <!-- {{start|date:'short':'IST'}} -->
            range selected:
            <div *ngIf="start"
                class="start">from:&nbsp;{{start|date:'EEE MMM dd y HH:mm'}}</div>
            <div *ngIf="end"
                class="end">untill:&nbsp;{{end|date:'EEE MMM dd y HH:mm'}}</div>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle
            *ngFor="let itemNameAndVisitPerItem of itemNameAndVisitsPerItems">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{itemNameAndVisitPerItem.itemName}}
                </mat-panel-title>
                <mat-panel-description>
                    <div class="total">
                        <div class="total-visits">
                            total visits:
                        </div>
                        <div class="amount"> {{itemNameAndVisitPerItem.itemVisits.length}}</div>
                    </div>
                    <div class="likes">
                        <div class="total-likes">
                            likes:
                        </div>
                        <div class="amount">
                            {{itemNameAndVisitPerItem.likes ? itemNameAndVisitPerItem.likes : 0}}
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <li class="header">
                <div *ngIf="authService.isAdmin$|async"
                    class="header-timestamp">timestamp</div>
                <div class="header-dates">dates</div>
                <div class="header-liked">liked</div>
                <div *ngIf="authService.isAdmin$|async"
                    class="header-id">visit id</div>
            </li>
            <li class="item-visit"
                *ngFor="let itemVisit of itemNameAndVisitPerItem.itemVisits">
                <div *ngIf="authService.isAdmin$|async"
                    class="timestamp">{{itemVisit.timestamp}}</div>
                <div class="date">{{itemVisit.timestamp | date:'EEE MMM dd y HH:mm'}}</div>
                <div *ngIf="itemVisit.liked"
                    class="liked">
                    <mat-icon>check_circle_outline</mat-icon>
                </div>
                <div *ngIf="!itemVisit.liked"
                    class="not-liked">
                    <mat-icon>
                        <mat-icon>close</mat-icon>
                    </mat-icon>
                </div>
                <div *ngIf="authService.isAdmin$|async"
                    class="id">{{itemVisit.id}}</div>
            </li>
        </mat-expansion-panel>
    </mat-accordion>

</div>
