<div class="page-container">
    <form [formGroup]="form">
        <h4>{{editmode ? 'edit' : 'add'}}&nbsp;venue</h4>
        <div class="info">
            Choose a unique, easy to remember name. This name is for your personal reference and will not be shown to the user.
        </div>
        <div class="organization">
            <mat-form-field>
                <input type="text"
                    (keyup)="onFormChanged()"
                    (mouseup)="onFormChanged()"
                    matInput
                    formControlName="organization"
                    placeholder="organization">
            </mat-form-field>
            <mat-icon matTooltip="This will appear in the header of the app.">info</mat-icon>
        </div>
        <div class="name">
            <mat-form-field>
                <input type="text"
                    (keyup)="onFormChanged()"
                    (mouseup)="onFormChanged()"
                    matInput
                    formControlName="name"
                    placeholder="venue name">
            </mat-form-field>
            <mat-icon matTooltip="This is for reference only and will not be shown to the user.">info</mat-icon>
        </div>
        <div class="spinner-container"
            *ngIf="isStoringLogo">
            <mat-spinner></mat-spinner>
            <span>Storing logo</span>
        </div>
        <input type="file"
            (change)="onFileInputChange($event)"
            style="display: none;"
            #fileInput>
        <div class="image-container">
            <img *ngIf="logoSrc"
                [src]="logoSrc"
                alt="">
            <img *ngIf="logoUrl"
                [src]="logoUrl"
                alt="">
        </div>
        <button mat-raised-button
            (click)="fileInput.click()"
            color="primary">select logo</button>
        <button mat-raised-button
            *ngIf="logoChanged"
            [ngClass]="logoChanged ? 'add-red-border': ''"
            (click)="onConfirmLogo()"
            color="primary">confirm logo</button>


        <button mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            [ngClass]="formChanged  ? 'add-red-border' : ''"
            (click)='onSubmit()'>submit</button>
        <button mat-raised-button
            *ngIf="logoSrc || logoUrl"
            (click)="onDeleteLogo(logoSrc, logoUrl)"
            color="warn">delete logo</button>
        <button mat-raised-button
            (click)='onCancel()'>cancel</button>
    </form>
</div>
